
header{
    position:relative; 
    height: 30px;
    text-align:left;
    padding:30px;
    font-size:40px;
    font-family:"Times New Roman", Times, serif;
    color:#787878;
    font-weight: bold;
    border-bottom: 2px solid #ffa500;
}
div.logo{
    position:absolute;
    right:0px;
    top:0px;
    }


div.relBulb {
       float:left;
       margin:100px;
}

#rcorners1 {
    border-radius: 25px;
    background: #ffa500;
    padding: 20px; 
    width: 250px;
    height: 120px;   
text-align: center; 

}

footer{
    width:100%;
    position:absolute; 
    bottom:0px;
    text-align:center;
    padding:10px;
    font-size:20px;
    color:#787878;
    border-top: 1px solid #787878;
}
div.page{
    position:absolute;
    right:32px;
    bottom:12px;
    }

